$shadow_default: 0 1px 20px rgba(0, 0, 0, 0.05);
$shadow_hover: 0 2px 10px rgba(0, 0, 0, 0.15);

$color_highlight: #2857A3;
$color_highlight-background: hsla(217, 61%, 40%, 0.9);
$color_dark-background: #000000da;
$color_light-background: #f8f8f8;
