// fonts
$size_font_big: 18px;
$size_font: 14px;
$size_font_small: 10px;

// margin
$size_space: 4px;
$size_double-space: 8px;
$size_area-around: 4px 8px;
$size_radius: 2px;
$size_header: 40px;
$size_footer: 20px;

// misc
$size_image-icon-small: 12px;
$size_image-icon: 20px;
$size_image-icon-big: 30px;
